@import 'src/app.scss';

.container {
  display: flex;
  min-height: calc(100% - 40.8px - 63px);

  // @include laptop {
  //   height: min-content;
  // }
}

.container-no-footer {
  display: flex;
  min-height: calc(100% - 40.8px);
}

.main {
  padding: 2rem;
  flex: 1 1 auto;
  background-color:#fafbff
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1rem;
  border-top: 2px solid #eee;
  font-size: 1.4rem;
}

.rslogo {
  width: 100%;
  height: 2.5rem;
}

.logo-wrap {
  display: flex;
  column-gap: 2rem;
}
