@import 'src/app.scss';

.container {
  display: flex;
  min-height: calc(100% - 40.8px);

  // @include laptop {
  //   height: min-content;
  // }
}

.main {
  padding: 2rem;
  flex: 1 1 auto;
  background-color:#fafbff
}
