@import 'src/app.scss';

.count {
  height: 1.2rem;
  width: 1.2rem;
  
  display: inline-block;
  border-radius: 100%;
  margin-right: 1rem;

  &.right {
    background-color: $color-right;
  }

  
  &.wrong {
    background-color: $color-err;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.state {
  font-style: oblique;
}
