@import 'src/app.scss';

.nav {
  width: 20rem;
  height: inherit;
  position: relative;
  transition: width 0.4s;
  flex-shrink: 0;

  
  &.nav-collapsed {
    width: 5rem;

    & .nav-label {
      display: none;
    }
  
    & .nav-link-sub {
      padding-left: unset;
    }
  }
}

.nav-link {
  display: flex;
  align-items: center;
  color: $color-black;
  text-decoration: none;
  font-size: small;
  margin: 1rem;
  border-radius: $base-border-radius;

  &.nav-link-base {
    font-weight: bold;
  }

  &.nav-link-active {
    background-color: #ffe6ff;
    font-size: small;
    margin: 10px;
    border-radius: $base-border-radius;
  }
  // #bd10e0
  &.nav-link-sub {
    padding-left: 4rem;
  }

  &:hover {
    background-color: $color-grey;
    transition: background-color 0.5s;
  }
}

.nav-icon-container {
  width: $nav-icon-width;
  height: $nav-icon-width;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.nav-label {
  white-space: nowrap;
}

.nav-border {
  position: absolute;
  left: 100%;
  top: 0;
  width: $nav-border-width;
  height: inherit;
  background-color: $color-grey;
  transition: background-color 0.2s;
}

.navToggle {
  position: absolute;
  bottom: 20%;
  padding: 4px;
  left: -14px;
  background: #50006e;
  outline: none;
  border: 1px solid #50006e;
  // height: 20px;
  border-radius: 4px;
  cursor: pointer;
}
