@import 'src/app.scss';

.translation {
  font-style: italic;
  font-weight: 100;
  margin-bottom: 28px;
}

.word {
  font-size: 20px;
}

.word1 {
  background-color: $color-white;
  border: $base-border;
  border-radius: $base-border-radius;
  padding: 10px;
  margin: 10px;
  width: 18%;
}
