@import 'src/app.scss';

.translation {
  font-style: italic;
  font-weight: 100;
  font-size: small;
}

.word {
  font-size: 18px;
}

.word1 {
  background-color: $color-white;
  border: $base-border;
  border-radius: $base-border-radius;
  padding: 10px;
  color: $color-black;
  cursor: pointer;

  &.active {
    color: $color-grey;

    &.p1 {
      background: $color-p1;
    }
  
    &.p2 {
      background: $color-p2;
    }
  
    &.p3 {
      background: $color-p3;
    }
    
    &.p4 {
      background: $color-p4;
    }
  
    &.p5 {
      background: $color-p5;
    }
  
    &.p6 {
      background: $color-p6;
    }
  }
}
