@import 'src/app.scss';

.header {
  padding: 1rem $base-indent;
  font-size: 1.6rem;
  color: $color-grey;
  background: $color-primary;
  box-shadow: $base-shadow;
}

.head {
  display: flex;
  justify-content: space-between;
}

.auth {
  display: flex;
}

.auth-item {
  color: $color-grey;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.auth-line {
  padding: 0 2rem;
}

.hidden {
  display: none;
}
