$nav-icon-width: 30px;
$nav-border-width: 2px;


$base-indent: 2rem;
$base-shadow: rgb(0 0 0 / 10%) 0 0 5px 0, rgb(0 0 0 / 10%) 0 0 1px 0;
$base-border-radius: 0.4rem;



$color-grey: #eee;
$color-black: #000;
$color-white: #fff;


$color-p1: #6269cd;
$color-p2: #87C4CA;
$color-p3: #FFB200;
$color-p4: #eb2f96;
$color-p5: #722ed1;
$color-p6: #7cb305;

$color-p7: #fadb14;


$color-dark: #264663;
$color-darker: #264663;


$base-border: 1px solid $color-grey;
