$nav-icon-width: 30px;
$nav-border-width: 2px;


$base-indent: 2rem;
$base-shadow: rgb(0 0 0 / 10%) 0 0 5px 0, rgb(0 0 0 / 10%) 0 0 1px 0;
$base-border-radius: 0.4rem;



$color-grey: #eee;
$color-black: #24292f;
$color-white: #fff;


$color-p1: #6269cd;
$color-p2: #87C4CA;
$color-p3: #FFB200;
$color-p4: #eb2f96;
$color-p5: #722ed1;
$color-p6: #7cb305;







// $color-p1: #fd9b08;
// $color-p2: #00A3A6;
// $color-p3: #324D5D;
// $color-p4: #4805ED;
// $color-p5: #ED054C;
// $color-p6: #3B2B4E;
// fadb14
$color-p7:  #50006e;
$color-p8:  #50006e;
$color-p9:  #50006e;

$color-dark: #50006e;
$color-darker: #264663;


$base-border: 1px solid $color-grey;
