$nav-icon-width: 30px;
$nav-border-width: 2px;


$base-indent: 2rem;
$base-shadow: rgb(0 0 0 / 10%) 0 0 5px 0, rgb(0 0 0 / 10%) 0 0 1px 0;
$base-border-radius: 0.4rem;



$color-grey: #eee;
$color-black: #24292f;
$color-white: #fff;


$color-p1: #3B9AB6;
$color-p2: #FFB200;
$color-p4: #390373;
$color-p3: #eb2f96;
$color-p5: #D2015D;
$color-p6: #E40500;

$color-err: #fa541c;
$color-right: #a0d911;



$color-primary: #50006e;


$color-p7:  $color-primary;
$color-p8:  $color-primary;
$color-p9:  $color-primary;


// $color-grey: #dcdbdb78;
$base-border: 1px solid #dcdbdb78;

$content-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;
