@import 'variables';


* {
  box-sizing: border-box;
  font-family: 'Red Hat Text', 'Nunito Sans', sans-serif;
}

html {
  font-size: 10px;
  height: 100vh;
}

body {
  height: inherit;
  margin: 0;
}

#root {
  height: inherit;
}
