* {
  font-family: 'Red Hat Text', 'Nunito Sans', sans-serif;
  font-weight: 400;

  box-sizing: border-box;
}

body {
    background-color: #EBEDF1;
}

.notification {
  color: #EBEDF1;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: justify-between;
  gap: 6px;
  background: #6269cd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0 0 5px 0, rgb(0 0 0 / 10%) 0 0 1px 0;
}
