@import 'src/app.scss';

.words-container {
  display: grid;
  grid-template-columns: 45% calc(55% - 2rem);
  grid-gap: 2rem;
}

.word-list-container {
  display: flex;

  flex-direction: column;

  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: $base-indent;
}

.nav-games {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.game-img {
  height: 12rem;
}

.word-list-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $base-indent;
}


.word-card-container {
  display: flex;
  flex-direction: column;
  // background-color: $color-white;
  // border: $base-border;
  // border-radius: $base-border-radius;
}
